{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
                        <p class="text-muted">{{ product.price|floatformat:2 }}T</p>
                        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                        <a class="btn btn-outline-success" href="{% url 'product_detail' product.id %}">View</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No products found.</p>
            {% endfor %}
        </div>
        
    </div>
    <script type="text/javascript">
        const sidebar = document.getElementById('sidebar');
        const content = document.querySelector('.col.py-3');

        // Add toggle functionality for sidebar
        function toggleSidebar() {
        if (sidebar.classList.contains('hidden')) {
            sidebar.classList.remove('hidden');
            content.style.marginLeft = '18%'; /* Restore sidebar width */
        } else {
            sidebar.classList.add('hidden');
            content.style.marginLeft = '0'; /* Remove margin for full-width content */
        }
        }
    </script>
{% endblock content %}

