body, html {
    margin: 0;
    height: 100dvh;
    background-color: hsl(0, 0%, 98%);
    margin: 0;
    overflow-x: hidden;
    width: 100%; 
}
.wrapper {
    height: 100%;
}
.content {
    flex: 1;
}

footer {
    background-color: #4A8D91; 
    color: white;
    padding: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    color: hsl(0, 0%, 30%);
}

#logo, #username {
    color: #fff;
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail {
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
    border-radius: 0 0 4px 4px;
}

.bg-dark {
    background-color: #609fa7!important;
}

#cart-icon {
    width: 25px;
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    position: absolute;
    top: 20px;
    right: 0px;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
    margin-top: 10px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}

.hidden {
    display: none!important;
}

a {
    text-decoration: none;
}

.hero-section {
    background-size: cover;
    background-position: center;
    background-color: #333;
    height: 80vh;
    color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.hero-text {
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
}

.product-card {
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.typing-effect {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 0;
    animation: typing 3s steps(50, end) forwards, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

/* Set initial style for the sliding text */
.hero-image {
    position: relative;
    animation: slideIn 1s ease-out forwards; /* Trigger the animation */
    opacity: 0; /* Start hidden for a smooth transition */
}

/* Define the slide-in animation */
@keyframes slideIn {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* End position */
        opacity: 1;
    }
}

.photo-container {
    width: 100vw;
    margin-left: calc(50% - 49vw);
    overflow-x: hidden;
}

.grid-item {
    height: 40vh;
    background-image: url('static/images/aitu_hoodie.jpg')
    background-size 100% 100%;
}

.container-fluid  {
    width:  100% !important;
}

/* Sidebar styling */
#sidebar {
    position: absolute; /* Stick to the left */
    top: 0;
    left: 0;
    width: 18%; /* Adjust width as needed */
    height: 100vh; /* Full height */
    z-index: 1000; /* Ensure it's above the content */
    background-color: #343a40; /* Dark background */
  }
  
  /* Ensure content respects sidebar */
  .col.py-3 {
    margin-left: 18%; /* Match sidebar width */
    transition: margin-left 0.3s ease-in-out; /* Smooth transition */
  }

#sidebar-items {
    a{
        color: #fff;
    }
    a:hover {
        color: #000;
        background-color: #fff;
    }
}

